<!-- /*  
NOMBRE: geolocalizacion-ruta.page.html
DESCRIPCIÓN: Plantilla HTML para visualizar el Mapa de MapBox y la geolocalización.
DESARROLLADOR: Luis Mujica
FECHA: 2025-06-03
PROYECTO: BooApp
VERSION: 1.0.0  
*/ -->

<ion-header>
  <ion-toolbar class="toolbar-azul-oscuro">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-mapa-ruta"></ion-back-button>
    </ion-buttons>
        <ion-buttons slot="end" style="margin-right: 20px">
      <ion-button (click)="salir()" class="exit-button">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo1">Geolocalización de</ion-title>
    <ion-title class="titulo2">Evento Paranormal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="map"></div>
  <ion-card class="card-transparente card-superpuesto">
    <ion-card-header>
      <ion-card-title class="titulo-pequeno">{{ titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Latitud:</strong> {{ latitud }}</p>
      <p><strong>Longitud:</strong> {{ longitud }}</p>
      <p><strong>Ubicación:</strong> {{ ubicacion }}</p>
    </ion-card-content>
  </ion-card>

  <ion-alert
    [isOpen]="showPermissionAlert"
    header="Permisos de ubicación requeridos"
    message="La aplicación necesita acceso a tu ubicación para mostrarte la ruta al evento. Por favor, concede los permisos en la configuración de tu dispositivo."
    [buttons]="['OK']"
    (didDismiss)="onPermissionAlertDismiss()"
  >
  </ion-alert>
</ion-content>
