<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil del Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngIf="usuarioActual">
    <ion-card-header>
      <ion-avatar class="avatar">
        <img
          [src]="getFotoUrl(usuarioActual?.fotoPerfil)"
          [alt]="usuarioActual?.nombre"
          (error)="onImageError($event)"
        />
      </ion-avatar>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="!editando">
        <ion-item>
          <ion-label position="stacked">Cédula</ion-label>
          <ion-input [value]="usuarioActual.IdDni" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [value]="usuarioActual.nombre" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">email</ion-label>
          <ion-input [value]="usuarioActual.email" readonly></ion-input>
        </ion-item>

        <div class="ion-margin-top">
          <ion-button expand="block" (click)="iniciarEdicion()"
            >Editar</ion-button
          >
        </div>
      </ion-list>

      <!-- Modo Edición -->
      <form
        *ngIf="editando"
        [formGroup]="formPerfil"
        (ngSubmit)="guardarCambios()"
      >
        <ion-item>
          <ion-label position="stacked">Cédula</ion-label>
          <ion-input formControlName="IdDni" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Dejar vacío para no cambiar"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">email</ion-label>
          <ion-input [value]="usuarioActual.email" readonly></ion-input>
        </ion-item>

        <ion-button *ngIf="editando" expand="block" (click)="cambiarFoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Cambiar foto
        </ion-button>

        <div class="ion-margin-top">
          <ion-button
            type="submit"
            expand="block"
            [disabled]="formPerfil.invalid"
            >Guardar</ion-button
          >
          <ion-button expand="block" color="medium" (click)="cancelarEdicion()"
            >Cancelar</ion-button
          >
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [duration]="3000"
    (didDismiss)="showToast = false"
    [color]="toastColor"
  ></ion-toast>
</ion-content>
