ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  --background: var(--color-menu);
  --color: #ffffff;
  height: 5rem;
}

ion-title {
  margin: 1.87rem auto;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.avatar {
  margin: 0 auto;
  width: 14.75rem;
  height: 14.75rem;
}

ion-card {
  max-width: 37.5rem;
  margin: 1.25rem auto;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ion-button {
  margin-top: 0.625rem;
  --border-radius: 0.625rem;
}

ion-input[readonly] {
  opacity: 0.8;
}

form {
  ion-item {
    margin-bottom: 0.94rem;
  }
}

ion-button {
  --background: var(--color-buttons);
  --border-radius: 0.62rem;
}

/* En tu tab5.page.scss */
// .cambiar-foto-btn {
//   margin-top: 10px;
//   --border-radius: 20px;
//   --background: var(--ion-color-light);
//   --color: var(--ion-color-dark);

//   ion-icon {
//     margin-right: 8px;
//   }
// }
