ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  --background: var(--color-menu);
  --color: #ffffff;
  height: 5rem;
}

ion-title {
  margin: 1.87rem auto;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.boton {
  margin-top: 1.56rem;
  margin-bottom: 0.93rem;
  width: 11.87rem;
  height: 3.12rem;
  border-radius: 0.62rem;
}

ion-button {
  --background: var(--color-buttons);
  --border-radius: 0.62rem;
}

ion-card-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  margin-top: 1.25rem;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.62rem;
}

ion-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.etiqueta-campos-editables {
  margin-top: 0.62rem;
  margin-bottom: 0.62rem;
  text-align: center;
}

/* Estilos para los estados */
.estatus-aprobado {
  color: #2dd36f; /* Verde de Ionic para éxito */
  font-weight: bold;
  padding: 0.31rem 0.62rem;
  background-color: rgba(45, 211, 111, 0.1);
  border-radius: 0.75rem;
}

.estatus-pendiente {
  color: #ffc409; /* Amarillo de Ionic para advertencia */
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba(255, 196, 9, 0.1);
  border-radius: 12px;
}

.estatus-rechazado {
  color: #eb445a; /* Rojo de Ionic para error */
  font-weight: bold;
  padding: 0.31rem 0.62rem;
  background-color: rgba(235, 68, 90, 0.1);
  border-radius: 0.75rem;
}

/* Estilos específicos para botones de ayuda */
.ayuda {
  --background: var(--color-buttons);
  --border-radius: 50%;
  --color: #ffffff;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  width: 1.37rem;
  height: 1.37rem;
  min-width: 1.37rem;
  min-height: 1.37rem;
  margin: 0 0.5rem 0 0;

  ion-icon {
    font-size: 1.12rem;
    width: 100%;
    height: 100%;
  }

  /* En headers de lista */
  ion-list-header & {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.labels-container {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  gap: 0.5rem; /* Espacio entre labels */
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Botones de multimedia */
.multimedia {
  --color: #ffffff;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  font-family: "Courier New", Courier, monospace;

  ion-icon {
    margin-right: 0.37rem;
  }
}

.borrar {
  --background: #e91414;
  --color: #ffffff;
  --border-radius: 0.62rem;
  margin-right: 0.31rem;
  font-weight: bold;
  font-size: 0.81rem;
}

.multimedia {
  --color: #ffffff;
  font-size: 0.81rem;
}
