<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Editar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="cargando" class="spinner-container">
    <ion-spinner name="bubbles"></ion-spinner>
    <div class="spinner-title">Actualizando...</div>
  </div>
  <form [formGroup]="patchForm" (ngSubmit)="onUpdate()" *ngIf="!cargando">
    <!-- Texto de identificación de Campos editables -->
    <div class="etiqueta-campos-editables">(*) Campos editables</div>

    <!-- Campo de titulo del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('titulo')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <ion-label position="floating">
        Título <span class="asterisco-negrita">*</span>
      </ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>

    <!-- Campo de Descripción del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('descripcion')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <ion-label position="floating">
        Descripción <span class="asterisco-negrita">*</span>
      </ion-label>
      <ion-textarea
        formControlName="descripcion"
        autoGrow="true"
      ></ion-textarea>
    </ion-item>

    <!-- Campo de Ubicación del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('ubicacion')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <ion-label position="floating">
        Ubicación<span class="asterisco-negrita">*</span>
      </ion-label>
      <ion-textarea formControlName="ubicacion" autoGrow="true"></ion-textarea>
    </ion-item>

    <!-- Campo de latitud de Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('latitud')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <ion-label position="floating">
        Latitud<span class="asterisco-negrita">*</span>
      </ion-label>
      <ion-input
        formControlName="latitud"
        [readonly]="!isAdmin"
        [class.readonly-input]="!isAdmin"
      >
      </ion-input>
    </ion-item>

    <!-- Campo de longitud de Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('longitud')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <ion-label position="floating">
        Longitud<span class="asterisco-negrita">*</span>
      </ion-label>
      <ion-input
        formControlName="longitud"
        [readonly]="!isAdmin"
        [class.readonly-input]="!isAdmin"
      >
      </ion-input>
    </ion-item>

    <!-- Campo Fecha de Creación del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('fechaCreacion')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <div class="labels-container">
        <ion-label>
          <!-- Cambiado a stacked para mejor alineación -->
          Fecha de Creación<span class="asterisco-negrita">*</span>
        </ion-label>
        <ion-label class="fecha-value">{{ fechaCreacionFormateada }}</ion-label>
      </div>
    </ion-item>

    <!-- ########################################################-->
    <!-- #############  SECCIÓN DE IMAGEN Y VIDEO ###############-->
    <!-- ########################################################-->

    <ion-item>
      <ion-label>Multimedia</ion-label>

      <ion-button class="ayuda" (click)="mostrarAyuda('multimedia')">
        <ion-icon slot="icon-only" name="help" class="  "></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Seleccionar la Imagen -->
    <ion-item>
      <ion-label style="font-size: 13px"
        >Imagen <span class="asterisco-negrita">*</span></ion-label
      >
      <ion-button (click)="tomarFoto()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Seleccionar
      </ion-button>
      <ion-button
        *ngIf="imagenPrevia"
        fill="clear"
        (click)="eliminarImagen()"
        class="borrar"
      >
        <ion-icon slot="start" name="trash"></ion-icon>
        Eliminar
      </ion-button>
    </ion-item>

    <!-- Vista previa de la imagen (almacenada o nueva) -->
    <div *ngIf="imagenPrevia || imagenAlmacenada" class="image-container">
      <ion-img
        [src]="imagenPrevia ? imagenPrevia : imagenAlmacenada"
        style="max-height: 200px"
      ></ion-img>
    </div>

    <!-- Sección para video -->
    <ion-item>
      <ion-label style="font-size: 13px"
        >Video <span class="asterisco-negrita">*</span></ion-label
      >
      <ion-button (click)="seleccionarVideo()">
        <ion-icon name="videocam" slot="start"></ion-icon>
        Seleccionar
      </ion-button>
      <ion-button
        *ngIf="videoPrevia"
        fill="clear"
        class="borrar"
        (click)="eliminarVideo()"
      >
        <ion-icon name="trash" slot="start"></ion-icon>
        Eliminar
      </ion-button>
    </ion-item>

    <!-- Vista previa del video (almacenado o nuevo) -->
    <div
      class="video-container"
      *ngIf="(videoPrevia && esVideo) || videoAlmacenado"
    >
      <video controls class="video-preview" [attr.key]="videoKey">
        <source
          [src]="videoPrevia ? videoPrevia : videoAlmacenado"
          [type]="patchForm.get('video')?.value?.mimeType || 'video/mp4'"
        />
        Tu navegador no soporta la reproducción de video.
      </video>
    </div>

    <!-- Información del archivo cuando no es video -->
    <div *ngIf="!esVideo && nombreArchivo" class="file-info">
      <ion-icon name="document" slot="start"></ion-icon>
      Archivo seleccionado: {{ nombreArchivo }} (no es un video compatible)
    </div>

    <!-- ############################################################-->
    <!-- #############  FIN SECCIÓN DE IMAGEN Y VIDEO ###############-->
    <!-- ############################################################-->

    <!-- Campo del comentario del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('comentario')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <ion-label position="floating"
        >Comentario <span class="asterisco-negrita">*</span>
      </ion-label>
      <ion-textarea formControlName="comentario" autoGrow="true"></ion-textarea>
      <!-- <ion-input formControlName="comentario"></ion-input> -->
    </ion-item>

    <!-- Campo de Popularidad del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('popularidad')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <div class="labels-container">
        <ion-label>
          <!-- Cambiado a stacked para mejor alineación -->
          Popularidad
        </ion-label>
        <ion-input formControlName="popularidad" readonly></ion-input>
      </div>
    </ion-item>

    <!-- Campo de Revision del Comentario del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('revision')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <div class="labels-container">
        <ion-label>
          <!-- Cambiado a stacked para mejor alineación -->
          Comentario Revisión
        </ion-label>
        <ion-textarea
          formControlName="comentarioRev"
          autoGrow="true"
          [readonly]="!isAdmin"
          [class.readonly-input]="!isAdmin"
        ></ion-textarea>
      </div>
    </ion-item>

    <!-- Campo del Tipo de Contenido del Evento -->
    <ion-item>
      <!-- Botón de ayuda primero -->
      <ion-button
        slot="start"
        fill="clear"
        class="ayuda"
        (click)="mostrarAyuda('tipoContenido')"
      >
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>

      <!-- Label e input -->
      <div class="labels-container">
        <ion-label>
          Tipo de Contenido <span class="asterisco-negrita">*</span>
        </ion-label>
        <ion-select
          formControlName="tipoContenido"
          interface="popover"
          required
        >
          <ion-select-option value="Mito">Mito</ion-select-option>
          <ion-select-option value="Leyenda">Leyenda</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
    <ion-note
      color="danger"
      *ngIf="patchForm.get('tipoContenido')?.invalid && patchForm.get('tipoContenido')?.touched"
    >
      Este campo es requerido
    </ion-note>

    <!-- Mostrar Estatus según el estado -->
    <ion-item>
      <ion-label>Estatus</ion-label>
      <div
        slot="end"
        [ngClass]="{
    'estatus-aprobado': patchForm.get('estado')?.value === 'Activo',
    'estatus-pendiente': patchForm.get('estado')?.value === 'Inactivo',
    'estatus-rechazado': patchForm.get('estado')?.value === 'Cancelado'
  }"
      >
        {{ patchForm.get('estado')?.value === 'Activo' ? 'APROBADO' :
        patchForm.get('estado')?.value === 'Inactivo' ? 'PENDIENTE POR REVISIÓN'
        : patchForm.get('estado')?.value === 'Cancelado' ? 'RECHAZADO' : '' }}
      </div>
    </ion-item>

    <ion-grid class="botones-acciones">
      <div class="contenedor-boton">
        <ion-button
          type="submit"
          [disabled]="patchForm.invalid || cargando"
          expand="block"
          class="boton"
        >
          Guardar
        </ion-button>
        <ion-button expand="block" class="boton" (click)="cancelar()"
          >Regresar</ion-button
        >
      </div>
    </ion-grid>
  </form>
</ion-content>
