<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="titulo1">Detalle del</ion-title>
    <ion-title class="titulo2">Evento</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="evento; else noData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ evento.titulo }}</ion-card-title>
      </ion-card-header>

      <!-- Imagen -->
      <img
        [src]="evento.imagen ? 'https://s3-uploadimages-booapp-bucket.s3.us-east-2.amazonaws.com/' + evento.imagen : 'assets/noimagen.png'"
        [alt]="evento.titulo"
        (error)="onImageError($event)"
      />

      <ion-card-content>
        <!-- Descripción -->
        <p>{{ evento.descripcion }}</p>

        <!-- Ubicación -->
        <h3><strong>Ubicación:</strong> {{ evento.ubicacion }}</h3>

        <!-- Coordenadas -->
        <h3><strong>Latitud:</strong> {{ evento.latitud }}</h3>
        <h3><strong>Longitud:</strong> {{ evento.longitud }}</h3>

        <!-- Fecha de creación -->
        <h3>
          <strong>Fecha de creación:</strong>
          {{ evento.fechaCreacion | date:'mediumDate' }}
        </h3>

        <!-- Usuario -->
        <h3><strong>Creador: </strong>{{ nombreUsuario }}</h3>

        <br />

        <!-- Video -->
        <div class="video-container" *ngIf="evento.video">
          <video controls width="100%">
            <source
              [src]="'https://s3-uploadimages-booapp-bucket.s3.us-east-2.amazonaws.com/' + evento.video"
              type="video/mp4"
            />
          </video>
        </div>

        <!-- Popularidad -->
        <div *ngIf="evento.popularidad">
          <strong>Popularidad:</strong> ⭐ {{ evento.popularidad }}
        </div>

        <br />

        <!-- Estado -->
        <div *ngIf="evento.estado">
          <strong>Estado:</strong> {{ evento.estado }}
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noData>
    <p *ngIf="!loading">No se encontró el evento.</p>
  </ng-template>

  <div *ngIf="loading">
    <p>Cargando detalles del evento...</p>
  </div>

  <div class="contenedor-boton">
    <ion-button expand="block" class="boton" (click)="volverAEventos()">
      Volver a Eventos
    </ion-button>
  </div>
</ion-content>
