.banner-image {
  margin-top: 2rem;
  width: 26rem;
  height: 15rem;
}

.boton {
  margin: 2.5rem auto;
  width: 11.87rem;
  height: 3.3rem;
  border-radius: 0.62rem;
}

ion-button {
  --background: var(--color-buttons);
  --border-radius: 0.62rem;
}

.title-card {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

ion-card-title {
  font-family: sans-serif, "SansSerifFLF";
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.67rem;
  text-align: center;
  font-weight: bold;
}

ion-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

p {
  margin-top: 1.25rem;
}

.link-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.87rem;
}

.link-registro {
  color: #007aff;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

ion-item {
  margin-bottom: 1.25rem;
}

.btn-cerrar {
  margin: 1.5rem auto;
  --background: var(--color-menu);
  --color: #ffffff;
  width: 11.25rem;
  height: 3rem;
}
