ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  --background: var(--color-menu);
  --color: #ffffff;
  height: 5rem;
}

ion-title {
  margin: 1.87rem auto;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
