<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- Añadir padding-top seguro para status bar -->
    <div style="padding-top: var(--ion-safe-area-top);"></div>

    <ion-buttons slot="end" style="margin-right: 20px">
      <ion-button (click)="salir()" class="exit-button">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="titulo1">Eventos</ion-title>
    <ion-title class="titulo2">Paranormales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  style="--background: var(--bg-color); color: var(--text-color); padding-top: var(--ion-safe-area-top);"
>
  <div *ngIf="cargando" class="cargando-container">
    <ion-spinner name="crescent"></ion-spinner>
    <div class="cargando-texto">Cargando...</div>
  </div>

  <ng-container *ngIf="!cargando">
    <ion-searchbar
      (ionInput)="aplicarFiltro($any($event).target.value)"
      debounce="500"
    >
    </ion-searchbar>

    <!-- Lista de Cards -->
    <ion-list>
      <ion-item
        *ngFor="let evento of eventosFiltrados"
        [routerLink]="['/detalle-evento', evento._id]"
        lines="none"
        button
      >
        <ion-card style="width: 100%">
          <img
            [src]="evento.imagen ? 'https://s3-uploadimages-booapp-bucket.s3.us-east-2.amazonaws.com/' + evento.imagen : 'assets/noimagen.png'"
            [alt]="evento.titulo"
            (error)="onImageError($event)"
          />
          <ion-card-header>
            <ion-card-title>{{ evento.titulo }}</ion-card-title>
            <ion-card-subtitle>{{ evento.ubicacion }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>

    <!-- Alert desde HTML -->
    <ion-alert
      #miAlerta
      header="¡Nuevo Evento!"
      [subHeader]="eventoMasReciente ? eventoMasReciente.titulo : ''"
      message="No pierdas tiempo, aprovecha para verlo"
      [buttons]="alertButtons"
      cssClass="custom-alert centered-alert"
    >
    </ion-alert>

    <div *ngIf="mensajeNoResultados" class="no-results">
      {{ mensajeNoResultados }}
    </div>
  </ng-container>
</ion-content>
