ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  --background: var(--color-menu);
  --color: #ffffff;
  height: 5rem;
}

ion-title {
  margin: 1.87rem auto;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 6.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 3.75rem auto;
  transition: background-color 0.3s ease;
}

.whatsapp-icon {
  width: 5.75rem;
  height: 5.75rem;
}

.whatsapp-icon:hover {
  width: 6rem;
  height: 6rem;
}

.msg-comparte {
  margin-top: 1rem;
  font-size: 1.19rem;
  text-align: center;
}
