// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --color-menu: #071A4C;
  --color-buttons: #7B5BF2;
  /* Color principal de botones */
  --color-tiltle: #2F2E3E;
  --color-info: #B3B2B7;
  --color-background: #F6F9FF;
}