<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs-user/tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs-user/tab2">
      <ion-icon name="map"></ion-icon>
      <ion-label>Ruta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs-user/tab4">
      <ion-icon name="create"></ion-icon>
      <ion-label>Gestión</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs-user/tab5">
      <ion-icon name="person"></ion-icon>
      <ion-label>Tú</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs-user/tab3">
      <ion-icon name="share"></ion-icon>
      <ion-label>Compartir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
