.banner-image {
  margin-top: 30px;
  width: 400px;
  height: 220px;
}

ion-title.title-large {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

ion-title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.imagen {
  margin-top: 22px;
  width: 150px;
  height: auto;
}

.boton {
  margin-bottom: 15px;
  width: 190px;
  height: 50px;
  border-radius: 10px;
}

ion-button {
  --background: var(--color-buttons);
  --border-radius: 10px;
}

.btn-cerrar {
  margin-top: 80px;
  --background: var(--color-menu);
  --color: #ffffff; 
  width: 180px;
}

.footerText {
  color: var(--color-info);
  font-size: 14px;
  text-align: center;
}

/* Añade esto al final de tu archivo SCSS */
ion-alert {
  --backdrop-opacity: 0.7;
  --background-color: #ffffff;
  
  .alert-wrapper {
    border-radius: 15px;
  }
  
  .alert-head {
    background: #ffffff;
    color: #000000;
    padding: 15px;
    
    .alert-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  
  .alert-message {
    padding: 15px;
    color: var(--ion-text-color);
  }
  
  .alert-button-group {
    padding: 0;
    
    button {
      margin: 0;
      flex: 1;
      border-radius: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      
      &:last-child {
        border-right: none;
        color: var(--ion-color-danger);
        font-weight: bold;
      }
    }
  }
}