<ion-header [translucent]="true">
  <ion-toolbar>
    <img
      src="../../assets/imgSvg/portada.svg"
      alt="Logo App"
      class="banner-image"
    />
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  style="--background: var(--bg-color); color: var(--text-color)"
>
  <ion-title class="titulo1-home">Bienvenido a</ion-title>
  <ion-title class="titulo2-home">BooApp</ion-title>
  <ion-title class="subtitulo-home">Mitos y Leyendas</ion-title>

  <ion-grid>
    <ion-row>
      <ion-col size="5" size-md="5">
        <img
          src="assets/logoFantasma.png"
          alt="Imagen descriptiva"
          class="imagen"
        />
      </ion-col>
      <ion-col size="7" size-md="7">
        <ion-button expand="block" class="boton" (click)="goToTabs()"
          >Visitante</ion-button
        >
        <ion-button expand="block" class="boton" (click)="boton2()"
          >Iniciar Sesión</ion-button
        >
        <ion-button expand="block" class="boton" (click)="boton3()"
          >Registrarse</ion-button
        >

        <ion-button class="btn-cerrar" expand="block" (click)="closeApp()">
          Salir de BooApp
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footerText1">© 2025 BooApp - Versión 1.1</ion-title>
    <ion-title class="footerText2">Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
