.banner-image {
  margin-top: 2rem;
  width: 26rem;
  height: 15rem;
}

ion-card {
  margin-top: 1.25rem;
}

.boton {
  margin: 1rem auto 0.93rem auto;
  width: 11.87rem;
  height: 3.3rem;
  border-radius: 0.62rem;
}

ion-button {
  --background: var(--color-buttons);
  --border-radius: 0.62rem;
}

ion-card-title {
  font-family: sans-serif, "SansSerifFLF";
  margin-top: 0.62rem;
  margin-bottom: 0.62rem;
  text-align: center;
  font-size: 1.22rem;
  font-weight: bold;
}

ion-card img {
  margin: 1rem auto 2rem auto;
  border-radius: 10rem;
  width: 70%;
  height: auto;
  object-fit: cover;
  display: block;
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.btn-cerrar {
  margin: 1.8rem auto 0 auto;
  display: block;
  --background: var(--color-menu);
  --color: #ffffff;
  width: 11.87rem;
}
