<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/banner-login.jpg" alt="Logo App" class="banner-image" />
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido Registrarse</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- ID DNI -->
      <ion-item>
        <ion-label position="floating">Cédula</ion-label>
        <ion-input [(ngModel)]="nuevoUsuario.IdDni" type="text"></ion-input>
      </ion-item>

      <!-- Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nuevoUsuario.nombre" type="text"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="nuevoUsuario.email" type="email"></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          [(ngModel)]="nuevoUsuario.password"
          type="password"
        ></ion-input>
      </ion-item>

      <!-- Foto de Perfil -->
      <div class="photo-container">
        <p>Foto de Perfil:</p>
        <img
          *ngIf="nuevoUsuario.fotoPerfil"
          [src]="nuevoUsuario.fotoPerfil"
          alt="Foto de perfil"
          (error)="onImageError($event)"
        />
        <ion-button expand="block" (click)="tomarFoto()" class="boton">
          Tomar Foto
        </ion-button>
      </div>

      <!-- Botón Guardar -->
      <ion-button
        expand="block"
        (click)="guardar()"
        [disabled]="loading"
        class="boton"
      >
        {{ loading ? 'Registrando...' : 'Registrar' }}
      </ion-button>

      <ion-button class="btn-cerrar" expand="block" (click)="retornar()">
        Retornar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">
    <p>Cargando usuarios existentes...</p>
  </div>

  <!-- Toast -->
  <ion-toast
    [isOpen]="showToast"
    (didDismiss)="showToast = false"
    [message]="toastMessage"
    duration="3000"
    color="danger"
    position="top"
  >
  </ion-toast>
</ion-content>
